@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: rgb(66, 65, 65);
  line-height: 1.5;
  color: rgb(182, 194, 196);
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
}
h1 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 10vw;
}
#value {
  display: inline-block;
  font-size: 12vw;
  font-weight: bold;
  margin-bottom: 3rem;
}
.btn {
  text-transform: uppercase;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: 0.3s;
  font-size: 4vw;
  border: 1px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin: 0.5rem;
}
.reset:hover {
  color: white;
  background: black;
}
.increase:hover {
  color: white;
  background: green;
}
.decrease:hover {
  color: white;
  background: red;
}
@media screen and (min-width: 676px) {
  h1 {
    font-size: 68px;
  }
  #value {
    font-size: 80px;
  }
  .btn {
    font-size: 28px;
  }
}
